In [5]:
import pandas as pd

train_df = pd.read_csv("/Users/ailab/Documents/gojiii/train_preprocessed.csv")

train_df.head()

,id_transaksi,tanggal_pencairan,provinsi,jenis_pinjaman,status_peminjam,jumlah_pinjaman,total_pengembalian,durasi_hari,porsi_pengembalian_lender,sektor_usaha,pendidikan,jenis_jaminan,status_gagal_bayar
0,1,8613,0.048233,0.024529,0.042784,959000.0,959000.0,7.0,287000.0,0.037154,0.045720,0.045959,0
1,2,8624,0.044041,0.024529,0.042784,55000.0,55000.0,7.0,16000.0,0.042343,0.042394,0.040904,0
2,3,8617,0.048233,0.024529,0.042784,655000.0,666000.0,7.0,199000.0,0.037154,0.043635,0.045959,0
3,4,9432,0.044041,0.197461,0.042784,611000.0,632000.0,7.0,126000.0,0.042343,0.044576,0.042184,0
4,5,8652,0.043881,0.024529,0.042784,573000.0,573000.0,7.0,127000.0,0.042774,0.042394,0.048337,0

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15214 entries, 0 to 15213
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_transaksi               15214 non-null  int64
 1   tanggal_pencairan          15214 non-null  int64
 2   provinsi                   15214 non-null  float64
 3   jenis_pinjaman             15214 non-null  float64
 4   status_peminjam            15214 non-null  float64
 5   jumlah_pinjaman            15214 non-null  float64
 6   total_pengembalian         15214 non-null  float64
 7   durasi_hari                15214 non-null  float64
 8   porsi_pengembalian_lender  15214 non-null  float64
 9   sektor_usaha               15214 non-null  float64
 10  pendidikan                 15214 non-null  float64
 11  jenis_jaminan              15214 non-null  float64
 12  status_gagal_bayar         15214 non-null  int64
dtypes: float64(10), int64(3)
memory usage: 1.5 MB

In [10]:
x = train_df.drop(columns=['id_transaksi', 'status_gagal_bayar'])
y = train_df['status_gagal_bayar']

In [11]:
from sklearn.model_selection import train_test_split

# Split for validation
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.impute import SimpleImputer

In [13]:
import lightgbm as lgb

# Train model
lgbm = lgb.LGBMClassifier(random_state=42)
lgbm.fit(x_train, y_train)

# Validation
y_pred = lgbm.predict(x_val)
print(classification_report(y_val, y_pred))

[LightGBM] [Info] Number of positive: 523, number of negative: 11648
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000361 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1057
[LightGBM] [Info] Number of data points in the train set: 12171, number of used features: 11
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.042971 -> initscore=-3.103308
[LightGBM] [Info] Start training from score -3.103308
              precision    recall  f1-score   support

           0       0.98      1.00      0.99      2891
           1       0.89      0.63      0.74       152

    accuracy                           0.98      3043
   macro avg       0.93      0.81      0.86      3043
weighted avg       0.98      0.98      0.98      3043