In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [2]:
train_df = pd.read_csv("/Users/ailab/Documents/gojiii/adikara-2025-indonesia-kredit-macet/test.csv")

train_df.head()

,id_transaksi,tanggal_pencairan,provinsi,jenis_pinjaman,status_peminjam,jumlah_pinjaman,total_pengembalian,durasi_hari,porsi_pengembalian_lender,sektor_usaha,pendidikan,jenis_jaminan
0,20013,2023-11-14,Jawa Barat,Modal_Usaha,Peminjam_Berulang,91000.0,91000.0,7.0,27000.0,Pertanian,S1,SK_Pegawai
1,20014,2023-10-03,DKI Jakarta,Modal_Usaha,Peminjam_Berulang,1431000.0,1440000.0,7.0,432000.0,Jasa,S1,Sertifikat
2,20015,2023-08-18,Jawa Tengah,Modal_Usaha,Peminjam_Berulang,984000.0,990000.0,7.0,297000.0,Kuliner,S1,BPKB
3,20016,2023-11-02,Jawa Barat,Modal_Usaha,Peminjam_Berulang,420000.0,420000.0,7.0,0.0,Jasa,D3,BPKB
4,20017,2023-09-08,Jawa Timur,Modal_Usaha,Peminjam_Berulang,278000.0,288000.0,7.0,86000.0,Pertanian,SMA,Tanpa_Jaminan

In [3]:
train_df.describe()

,id_transaksi,jumlah_pinjaman,total_pengembalian,durasi_hari,porsi_pengembalian_lender
count,5003.000000,5.003000e+03,4.946000e+03,4853.000000,4.957000e+03
mean,22514.000000,2.128796e+06,2.275036e+06,-0.477643,3.661656e+05
std,1444.386029,1.660380e+07,1.868780e+07,79.512023,1.751780e+06
min,20013.000000,0.000000e+00,0.000000e+00,-971.000000,0.000000e+00
25%,21263.500000,2.905000e+05,2.980000e+05,7.000000,2.700000e+04
50%,22514.000000,6.730000e+05,6.830000e+05,7.000000,1.170000e+05
75%,23764.500000,1.447500e+06,1.474000e+06,7.000000,2.870000e+05
max,25015.000000,9.839700e+08,1.104315e+09,360.000000,8.903900e+07

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_transaksi               5003 non-null   int64
 1   tanggal_pencairan          5003 non-null   object
 2   provinsi                   5003 non-null   object
 3   jenis_pinjaman             4880 non-null   object
 4   status_peminjam            5003 non-null   object
 5   jumlah_pinjaman            5003 non-null   float64
 6   total_pengembalian         4946 non-null   float64
 7   durasi_hari                4853 non-null   float64
 8   porsi_pengembalian_lender  4957 non-null   float64
 9   sektor_usaha               5003 non-null   object
 10  pendidikan                 5003 non-null   object
 11  jenis_jaminan              5003 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 469.2+ KB

In [5]:
import pandas as pd

# Impute missing values with 0
train_df['total_pengembalian'] = train_df['total_pengembalian'].fillna(0)
train_df['porsi_pengembalian_lender'] = train_df['porsi_pengembalian_lender'].fillna(0)
train_df['jenis_pinjaman'] = train_df['jenis_pinjaman'].fillna(0)
train_df['durasi_hari'] = train_df['durasi_hari'].fillna(0)

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_transaksi               5003 non-null   int64
 1   tanggal_pencairan          5003 non-null   object
 2   provinsi                   5003 non-null   object
 3   jenis_pinjaman             5003 non-null   object
 4   status_peminjam            5003 non-null   object
 5   jumlah_pinjaman            5003 non-null   float64
 6   total_pengembalian         5003 non-null   float64
 7   durasi_hari                5003 non-null   float64
 8   porsi_pengembalian_lender  5003 non-null   float64
 9   sektor_usaha               5003 non-null   object
 10  pendidikan                 5003 non-null   object
 11  jenis_jaminan              5003 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 469.2+ KB

In [7]:
# Convert to datetime
train_df['tanggal_pencairan'] = pd.to_datetime(train_df['tanggal_pencairan'])

# Base date
base_date = pd.Timestamp('2000-01-01')

# Calculate days after year 2000
train_df['tanggal_pencairan'] = (train_df['tanggal_pencairan'] - base_date).dt.days

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_transaksi               5003 non-null   int64
 1   tanggal_pencairan          5003 non-null   int64
 2   provinsi                   5003 non-null   object
 3   jenis_pinjaman             5003 non-null   object
 4   status_peminjam            5003 non-null   object
 5   jumlah_pinjaman            5003 non-null   float64
 6   total_pengembalian         5003 non-null   float64
 7   durasi_hari                5003 non-null   float64
 8   porsi_pengembalian_lender  5003 non-null   float64
 9   sektor_usaha               5003 non-null   object
 10  pendidikan                 5003 non-null   object
 11  jenis_jaminan              5003 non-null   object
dtypes: float64(4), int64(2), object(6)
memory usage: 469.2+ KB

In [9]:
import pandas as pd

# Load datasets
train_raw = pd.read_csv("adikara-2025-indonesia-kredit-macet/train.csv")
train_enc = pd.read_csv("train_preprocessed.csv")
test = pd.read_csv("adikara-2025-indonesia-kredit-macet/test.csv")

# List of categorical columns to map
categorical_cols = [
    'provinsi', 'jenis_pinjaman', 'status_peminjam',
    'sektor_usaha', 'pendidikan', 'jenis_jaminan'
]

# Build raw→encoded mapping from train.csv and train_preprocessed.csv
mapping = {}
for col in categorical_cols:
    if col in train_raw.columns and col in train_enc.columns:
        mapping[col] = dict(zip(train_raw[col], train_enc[col]))

# Apply simple if–else encoding to test.csv
for col in categorical_cols:
    if col in test.columns:
        test[col] = test[col].apply(lambda x: mapping[col][x] if x in mapping[col] else -1)

test.head()

,id_transaksi,tanggal_pencairan,provinsi,jenis_pinjaman,status_peminjam,jumlah_pinjaman,total_pengembalian,durasi_hari,porsi_pengembalian_lender,sektor_usaha,pendidikan,jenis_jaminan
0,20013,2023-11-14,0.048233,0.024529,0.042784,91000.0,91000.0,7.0,27000.0,0.037154,0.045720,0.042184
1,20014,2023-10-03,0.044041,0.024529,0.042784,1431000.0,1440000.0,7.0,432000.0,0.047162,0.045720,0.042184
2,20015,2023-08-18,0.041229,0.024529,0.042784,984000.0,990000.0,7.0,297000.0,0.047162,0.045720,0.048337
3,20016,2023-11-02,0.048233,0.024529,0.042784,420000.0,420000.0,7.0,0.0,0.047162,0.043635,0.048337
4,20017,2023-09-08,0.048233,0.024529,0.042784,278000.0,288000.0,7.0,86000.0,0.037154,0.045720,0.045959

In [10]:
# Convert to datetime
test['tanggal_pencairan'] = pd.to_datetime(test['tanggal_pencairan'])

# Base date
base_date = pd.Timestamp('2000-01-01')

# Calculate days after year 2000
test['tanggal_pencairan'] = (test['tanggal_pencairan'] - base_date).dt.days

In [11]:
test.head()

,id_transaksi,tanggal_pencairan,provinsi,jenis_pinjaman,status_peminjam,jumlah_pinjaman,total_pengembalian,durasi_hari,porsi_pengembalian_lender,sektor_usaha,pendidikan,jenis_jaminan
0,20013,8718,0.048233,0.024529,0.042784,91000.0,91000.0,7.0,27000.0,0.037154,0.045720,0.042184
1,20014,8676,0.044041,0.024529,0.042784,1431000.0,1440000.0,7.0,432000.0,0.047162,0.045720,0.042184
2,20015,8630,0.041229,0.024529,0.042784,984000.0,990000.0,7.0,297000.0,0.047162,0.045720,0.048337
3,20016,8706,0.048233,0.024529,0.042784,420000.0,420000.0,7.0,0.0,0.047162,0.043635,0.048337
4,20017,8651,0.048233,0.024529,0.042784,278000.0,288000.0,7.0,86000.0,0.037154,0.045720,0.045959

In [12]:
# Save processed test file
test.to_csv("test_preprocessed with impute 0.csv", index=False)