In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [2]:
train_df = pd.read_csv("adikara-2025-indonesia-kredit-macet/test.csv")

train_df.head()

,id_transaksi,tanggal_pencairan,provinsi,jenis_pinjaman,status_peminjam,jumlah_pinjaman,total_pengembalian,durasi_hari,porsi_pengembalian_lender,sektor_usaha,pendidikan,jenis_jaminan
0,20013,2023-11-14,Jawa Barat,Modal_Usaha,Peminjam_Berulang,91000.0,91000.0,7.0,27000.0,Pertanian,S1,SK_Pegawai
1,20014,2023-10-03,DKI Jakarta,Modal_Usaha,Peminjam_Berulang,1431000.0,1440000.0,7.0,432000.0,Jasa,S1,Sertifikat
2,20015,2023-08-18,Jawa Tengah,Modal_Usaha,Peminjam_Berulang,984000.0,990000.0,7.0,297000.0,Kuliner,S1,BPKB
3,20016,2023-11-02,Jawa Barat,Modal_Usaha,Peminjam_Berulang,420000.0,420000.0,7.0,0.0,Jasa,D3,BPKB
4,20017,2023-09-08,Jawa Timur,Modal_Usaha,Peminjam_Berulang,278000.0,288000.0,7.0,86000.0,Pertanian,SMA,Tanpa_Jaminan

In [3]:
train_df.describe()

,id_transaksi,jumlah_pinjaman,total_pengembalian,durasi_hari,porsi_pengembalian_lender
count,5003.000000,5.003000e+03,4.946000e+03,4853.000000,4.957000e+03
mean,22514.000000,2.128796e+06,2.275036e+06,-0.477643,3.661656e+05
std,1444.386029,1.660380e+07,1.868780e+07,79.512023,1.751780e+06
min,20013.000000,0.000000e+00,0.000000e+00,-971.000000,0.000000e+00
25%,21263.500000,2.905000e+05,2.980000e+05,7.000000,2.700000e+04
50%,22514.000000,6.730000e+05,6.830000e+05,7.000000,1.170000e+05
75%,23764.500000,1.447500e+06,1.474000e+06,7.000000,2.870000e+05
max,25015.000000,9.839700e+08,1.104315e+09,360.000000,8.903900e+07

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_transaksi               5003 non-null   int64
 1   tanggal_pencairan          5003 non-null   object
 2   provinsi                   5003 non-null   object
 3   jenis_pinjaman             4880 non-null   object
 4   status_peminjam            5003 non-null   object
 5   jumlah_pinjaman            5003 non-null   float64
 6   total_pengembalian         4946 non-null   float64
 7   durasi_hari                4853 non-null   float64
 8   porsi_pengembalian_lender  4957 non-null   float64
 9   sektor_usaha               5003 non-null   object
 10  pendidikan                 5003 non-null   object
 11  jenis_jaminan              5003 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 469.2+ KB

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_transaksi               5003 non-null   int64
 1   tanggal_pencairan          5003 non-null   object
 2   provinsi                   5003 non-null   object
 3   jenis_pinjaman             4880 non-null   object
 4   status_peminjam            5003 non-null   object
 5   jumlah_pinjaman            5003 non-null   float64
 6   total_pengembalian         4946 non-null   float64
 7   durasi_hari                4853 non-null   float64
 8   porsi_pengembalian_lender  4957 non-null   float64
 9   sektor_usaha               5003 non-null   object
 10  pendidikan                 5003 non-null   object
 11  jenis_jaminan              5003 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 469.2+ KB

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_transaksi               5003 non-null   int64
 1   tanggal_pencairan          5003 non-null   object
 2   provinsi                   5003 non-null   object
 3   jenis_pinjaman             4880 non-null   object
 4   status_peminjam            5003 non-null   object
 5   jumlah_pinjaman            5003 non-null   float64
 6   total_pengembalian         4946 non-null   float64
 7   durasi_hari                4853 non-null   float64
 8   porsi_pengembalian_lender  4957 non-null   float64
 9   sektor_usaha               5003 non-null   object
 10  pendidikan                 5003 non-null   object
 11  jenis_jaminan              5003 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 469.2+ KB

In [7]:
import pandas as pd

# Load train for encoder fitting and test for transformation
train_df_enc = pd.read_csv('adikara-2025-indonesia-kredit-macet/train.csv')
test_df = pd.read_csv('adikara-2025-indonesia-kredit-macet/test.csv')

# Frequency encoder helper: returns normalized frequency map
def build_freq_map(series):
    counts = series.value_counts(dropna=False)
    total = counts.sum()
    return (counts / total).to_dict()

# Columns to frequency-encode (categoricals)
cat_cols = ['provinsi', 'jenis_pinjaman', 'status_peminjam', 'sektor_usaha', 'pendidikan', 'jenis_jaminan']

# Build frequency maps from train and apply to test
freq_maps = {}
for col in cat_cols:
    if col in train_df_enc.columns and col in test_df.columns:
        freq_maps[col] = build_freq_map(train_df_enc[col])
        # Simple if-else style mapping with fallback to 0 for unseen/missing
        test_df[col] = test_df[col].map(lambda x: freq_maps[col][x] if x in freq_maps[col] else 0)

# Impute missing numeric values with 0 (keep prior behavior)
for num_col in ['total_pengembalian', 'porsi_pengembalian_lender', 'durasi_hari']:
    if num_col in test_df.columns:
        test_df[num_col] = test_df[num_col].fillna(0)

# Convert tanggal_pencairan to days since 2000-01-01 if present
if 'tanggal_pencairan' in test_df.columns:
    base_date = pd.Timestamp('2000-01-01')
    test_df['tanggal_pencairan'] = pd.to_datetime(test_df['tanggal_pencairan'], errors='coerce')
    test_df['tanggal_pencairan'] = (test_df['tanggal_pencairan'] - base_date).dt.days.fillna(0)

# Save preprocessed test
test_df.to_csv('test_preprocessed with impute 0.csv', index=False)

Dropping columns

In [8]:
import numpy as np
import pandas as pd
from category_encoders import CatBoostEncoder

# Columns to encode
cat_cols = ['provinsi', 'jenis_pinjaman', 'status_peminjam', 'sektor_usaha', 'pendidikan', 'jenis_jaminan']

# Load raw train and test (for consistent, leakage-safe encoders)
train = pd.read_csv('adikara-2025-indonesia-kredit-macet/train.csv')
test = pd.read_csv('adikara-2025-indonesia-kredit-macet/test.csv')

# Minimal alignment with train preprocessing
# Drop rows in train like earlier cleaning steps (do NOT drop rows in test)
required_non_null = ['total_pengembalian', 'porsi_pengembalian_lender', 'jenis_pinjaman', 'durasi_hari']
train = train.dropna(subset=required_non_null)

# Convert tanggal_pencairan to numeric days since 2000 for both train and test
base_date = pd.Timestamp('2000-01-01')
for df in (train, test):
    if 'tanggal_pencairan' in df.columns:
        df['tanggal_pencairan'] = pd.to_datetime(df['tanggal_pencairan'], errors='coerce')
        df['tanggal_pencairan'] = (df['tanggal_pencairan'] - base_date).dt.days

# 1) Frequency encoding: compute from TRAIN only, map to TEST
for c in cat_cols:
    if c in train.columns and c in test.columns:
        freqs = train[c].value_counts(normalize=True)
        test[c + '_freq'] = test[c].map(freqs).astype(float).fillna(0.0)

# 2) Target encoding for TEST using CatBoostEncoder fitted on TRAIN
#    (OOF is for train; for test we fit on full train and transform test)
enc = CatBoostEncoder(cols=cat_cols)
enc.fit(train[cat_cols], train['status_gagal_bayar'])
te_test = enc.transform(test[cat_cols])
for c in cat_cols:
    test[c + '_te'] = te_test[c]

# Finalize test set: drop raw categorical columns, keep id_transaksi for submission join
drop_raw = [c for c in cat_cols if c in test.columns]
output_test = test.drop(columns=drop_raw, errors='ignore')

# Save
output_path = 'test_preprocessed_with_freq_te_and_columns_dropped.csv'
output_test.to_csv(output_path, index=False)
print('Saved:', output_path)
output_test.head()

Saved: test_preprocessed_with_freq_te_and_columns_dropped.csv

,id_transaksi,tanggal_pencairan,jumlah_pinjaman,total_pengembalian,durasi_hari,porsi_pengembalian_lender,provinsi_freq,jenis_pinjaman_freq,status_peminjam_freq,sektor_usaha_freq,pendidikan_freq,jenis_jaminan_freq,provinsi_te,jenis_pinjaman_te,status_peminjam_te,sektor_usaha_te,pendidikan_te,jenis_jaminan_te
0,20013,8718,91000.0,91000.0,7.0,27000.0,0.254831,0.90305,0.992441,0.158801,0.299330,0.244249,0.048232,0.02453,0.042784,0.047598,0.044576,0.040905
1,20014,8676,1431000.0,1440000.0,7.0,432000.0,0.250296,0.90305,0.992441,0.186079,0.299330,0.248850,0.041230,0.02453,0.042784,0.048744,0.044576,0.045958
2,20015,8630,984000.0,990000.0,7.0,297000.0,0.253714,0.90305,0.992441,0.166097,0.299330,0.253977,0.044042,0.02453,0.042784,0.042343,0.044576,0.042185
3,20016,8706,420000.0,420000.0,7.0,0.0,0.254831,0.90305,0.992441,0.186079,0.247272,0.253977,0.048232,0.02453,0.042784,0.048744,0.045720,0.042185
4,20017,8651,278000.0,288000.0,7.0,86000.0,0.241159,0.90305,0.992441,0.158801,0.400684,0.252925,0.043881,0.02453,0.042784,0.047598,0.043635,0.048336