In [34]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [35]:
train_df = pd.read_csv("/Users/ailab/Documents/gojiii/adikara-2025-indonesia-kredit-macet/test.csv")

train_df.head()

,id_transaksi,tanggal_pencairan,provinsi,jenis_pinjaman,status_peminjam,jumlah_pinjaman,total_pengembalian,durasi_hari,porsi_pengembalian_lender,sektor_usaha,pendidikan,jenis_jaminan
0,20013,2023-11-14,Jawa Barat,Modal_Usaha,Peminjam_Berulang,91000.0,91000.0,7.0,27000.0,Pertanian,S1,SK_Pegawai
1,20014,2023-10-03,DKI Jakarta,Modal_Usaha,Peminjam_Berulang,1431000.0,1440000.0,7.0,432000.0,Jasa,S1,Sertifikat
2,20015,2023-08-18,Jawa Tengah,Modal_Usaha,Peminjam_Berulang,984000.0,990000.0,7.0,297000.0,Kuliner,S1,BPKB
3,20016,2023-11-02,Jawa Barat,Modal_Usaha,Peminjam_Berulang,420000.0,420000.0,7.0,0.0,Jasa,D3,BPKB
4,20017,2023-09-08,Jawa Timur,Modal_Usaha,Peminjam_Berulang,278000.0,288000.0,7.0,86000.0,Pertanian,SMA,Tanpa_Jaminan

In [36]:
train_df.describe()

,id_transaksi,jumlah_pinjaman,total_pengembalian,durasi_hari,porsi_pengembalian_lender
count,5003.000000,5.003000e+03,4.946000e+03,4853.000000,4.957000e+03
mean,22514.000000,2.128796e+06,2.275036e+06,-0.477643,3.661656e+05
std,1444.386029,1.660380e+07,1.868780e+07,79.512023,1.751780e+06
min,20013.000000,0.000000e+00,0.000000e+00,-971.000000,0.000000e+00
25%,21263.500000,2.905000e+05,2.980000e+05,7.000000,2.700000e+04
50%,22514.000000,6.730000e+05,6.830000e+05,7.000000,1.170000e+05
75%,23764.500000,1.447500e+06,1.474000e+06,7.000000,2.870000e+05
max,25015.000000,9.839700e+08,1.104315e+09,360.000000,8.903900e+07

In [37]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_transaksi               5003 non-null   int64
 1   tanggal_pencairan          5003 non-null   object
 2   provinsi                   5003 non-null   object
 3   jenis_pinjaman             4880 non-null   object
 4   status_peminjam            5003 non-null   object
 5   jumlah_pinjaman            5003 non-null   float64
 6   total_pengembalian         4946 non-null   float64
 7   durasi_hari                4853 non-null   float64
 8   porsi_pengembalian_lender  4957 non-null   float64
 9   sektor_usaha               5003 non-null   object
 10  pendidikan                 5003 non-null   object
 11  jenis_jaminan              5003 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 469.2+ KB

In [22]:
import pandas as pd

# Impute missing values with 0
train_df['total_pengembalian'] = train_df['total_pengembalian'].fillna()
train_df['porsi_pengembalian_lender'] = train_df['porsi_pengembalian_lender'].fillna(0)
train_df['jenis_pinjaman'] = train_df['jenis_pinjaman'].fillna(0)
train_df['durasi_hari'] = train_df['durasi_hari'].fillna(0)

ValueError: Must specify a fill 'value' or 'method'.

In [23]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_transaksi               5003 non-null   int64
 1   tanggal_pencairan          5003 non-null   object
 2   provinsi                   5003 non-null   object
 3   jenis_pinjaman             4880 non-null   object
 4   status_peminjam            5003 non-null   object
 5   jumlah_pinjaman            5003 non-null   float64
 6   total_pengembalian         4946 non-null   float64
 7   durasi_hari                4853 non-null   float64
 8   porsi_pengembalian_lender  4957 non-null   float64
 9   sektor_usaha               5003 non-null   object
 10  pendidikan                 5003 non-null   object
 11  jenis_jaminan              5003 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 469.2+ KB

In [24]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_transaksi               5003 non-null   int64
 1   tanggal_pencairan          5003 non-null   object
 2   provinsi                   5003 non-null   object
 3   jenis_pinjaman             4880 non-null   object
 4   status_peminjam            5003 non-null   object
 5   jumlah_pinjaman            5003 non-null   float64
 6   total_pengembalian         4946 non-null   float64
 7   durasi_hari                4853 non-null   float64
 8   porsi_pengembalian_lender  4957 non-null   float64
 9   sektor_usaha               5003 non-null   object
 10  pendidikan                 5003 non-null   object
 11  jenis_jaminan              5003 non-null   object
dtypes: float64(4), int64(1), object(7)
memory usage: 469.2+ KB

In [ ]:
import pandas as pd

# Load train for encoder fitting and test for transformation
train_df_enc = pd.read_csv('/Users/ailab/Documents/gojiii/adikara-2025-indonesia-kredit-macet/train.csv')
test_df = pd.read_csv('/Users/ailab/Documents/gojiii/adikara-2025-indonesia-kredit-macet/test.csv')

# Frequency encoder helper: returns normalized frequency map
def build_freq_map(series):
    counts = series.value_counts(dropna=False)
    total = counts.sum()
    return (counts / total).to_dict()

# Columns to frequency-encode (categoricals)
cat_cols = ['provinsi', 'jenis_pinjaman', 'status_peminjam', 'sektor_usaha', 'pendidikan', 'jenis_jaminan']

# Build frequency maps from train and apply to test
freq_maps = {}
for col in cat_cols:
    if col in train_df_enc.columns and col in test_df.columns:
        freq_maps[col] = build_freq_map(train_df_enc[col])
        # Simple if-else style mapping with fallback to 0 for unseen/missing
        test_df[col] = test_df[col].map(lambda x: freq_maps[col][x] if x in freq_maps[col] else 0)

# Impute missing numeric values with 0 (keep prior behavior)
for num_col in ['total_pengembalian', 'porsi_pengembalian_lender', 'durasi_hari']:
    if num_col in test_df.columns:
        test_df[num_col] = test_df[num_col].fillna(0)

# Convert tanggal_pencairan to days since 2000-01-01 if present
if 'tanggal_pencairan' in test_df.columns:
    base_date = pd.Timestamp('2000-01-01')
    test_df['tanggal_pencairan'] = pd.to_datetime(test_df['tanggal_pencairan'], errors='coerce')
    test_df['tanggal_pencairan'] = (test_df['tanggal_pencairan'] - base_date).dt.days.fillna(0)

# Save preprocessed test
test_df.to_csv('test_preprocessed with impute 0.csv', index=False)

,id_transaksi,tanggal_pencairan,provinsi,jenis_pinjaman,status_peminjam,jumlah_pinjaman,total_pengembalian,durasi_hari,porsi_pengembalian_lender,sektor_usaha,pendidikan,jenis_jaminan
0,20013,2023-11-14,0.048233,0.024529,0.042784,91000.0,91000.0,7.0,27000.0,0.037154,0.045720,0.042184
1,20014,2023-10-03,0.044041,0.024529,0.042784,1431000.0,1440000.0,7.0,432000.0,0.047162,0.045720,0.042184
2,20015,2023-08-18,0.041229,0.024529,0.042784,984000.0,990000.0,7.0,297000.0,0.047162,0.045720,0.048337
3,20016,2023-11-02,0.048233,0.024529,0.042784,420000.0,420000.0,7.0,0.0,0.047162,0.043635,0.048337
4,20017,2023-09-08,0.048233,0.024529,0.042784,278000.0,288000.0,7.0,86000.0,0.037154,0.045720,0.045959

,id_transaksi,tanggal_pencairan,jenis_pinjaman,status_peminjam,jumlah_pinjaman,total_pengembalian,durasi_hari,porsi_pengembalian_lender
0,20013,8718,0.024529,0.042784,91000.0,91000.0,7.0,27000.0
1,20014,8676,0.024529,0.042784,1431000.0,1440000.0,7.0,432000.0
2,20015,8630,0.024529,0.042784,984000.0,990000.0,7.0,297000.0
3,20016,8706,0.024529,0.042784,420000.0,420000.0,7.0,0.0
4,20017,8651,0.024529,0.042784,278000.0,288000.0,7.0,86000.0

Dropping columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5003 entries, 0 to 5002
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id_transaksi               5003 non-null   int64
 1   tanggal_pencairan          5003 non-null   int64
 2   jenis_pinjaman             5003 non-null   float64
 3   status_peminjam            5003 non-null   float64
 4   jumlah_pinjaman            5003 non-null   float64
 5   total_pengembalian         5003 non-null   float64
 6   durasi_hari                5003 non-null   float64
 7   porsi_pengembalian_lender  5003 non-null   float64
dtypes: float64(6), int64(2)
memory usage: 312.8 KB